:root {
    --headline-bg: #f6f8fa;
    --border-color: #d0d7de;
    --btn-bg: #388bfd;
    --btn-bg-hover: #1f6feb;
    --btn-fg: #fff;
    --popup-bg: #f6f8fa;
    --nav-bg: #eaeef2;
    --subheadline-color: #0969da;
    --body-bg: #fff;
    --body-color: #1a1a1a;
    --diff-bg: #eaeef2;
    --git-red: #cf222e;
    --git-green: #116329;
    --git-yellow: #8a6700;
    --git-cyan: #1b7c83;
    --meta-date: #6e7781;
    --meta-author: #116329;
    --meta-subject: #24292f;
}
